---
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout tittle="Jasa">
  <div class="about">
    <div class="about-row">
      <div class="about-text">
        <div class="about-title">Around the area</div>
        <hr />
        <div class="about-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
          ullamcorper hendrerit mauris vitae interdum.<span
            style="font-weight:600;"
          >
            Pellentesque habitant morbi tristique senectus et netus et malesuada
            fames ac turpis egestas.</span
          >
          Nunc condimentum tellus in nibh convallis, at sagittis velit rhoncus. Aliquam
          ornare neque sit amet leo ultrices placerat. Vestibulum non varius ex,
          id sagittis metus.
          <span style="font-weight:600;">
            Donec commodo ligula mollis aliquam dapibus. Etiam tempus et erat
            vitae porta.
          </span>
          Ut eu enim bibendum, efficitur purus et, bibendum dolor. Nullam eu sem
          non magna ornare aliquam. Cras ultricies urna eu scelerisque dignissim.
          Integer congue nulla quis ullamcorper aliquam. Donec condimentum gravida.
        </div>
      </div>
      <div class="about-image">
        <img src="img/img1.jpg" />
      </div>
    </div>
    <div class="about-colored-container">
      <div class="about-row about-colored">
        <div class="about-text about-colored-text" id="colored-first">
          <div class="about-title">Around the area</div>
          <hr />
          <div class="about-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
            ullamcorper hendrerit mauris vitae interdum.<span
              style="font-weight:600;"
            >
              Pellentesque habitant morbi tristique senectus et netus et
              malesuada fames ac turpis egestas.</span
            >
            Nunc condimentum tellus in nibh convallis, at sagittis velit rhoncus.
            Aliquam ornare neque sit amet leo ultrices placerat. Vestibulum non varius
            ex, id sagittis metus.
            <span style="font-weight:600;">
              Donec commodo ligula mollis aliquam dapibus. Etiam tempus et erat
              vitae porta.
            </span>
            Ut eu enim bibendum, efficitur purus et, bibendum dolor. Nullam eu sem
            non magna ornare aliquam. Cras ultricies urna eu scelerisque dignissim.
            Integer congue nulla quis ullamcorper aliquam. Donec condimentum gravida.
          </div>
        </div>
        <div class="about-image about-image-colored" id="colored-second">
          <img src="img/img1.jpg" />
        </div>
      </div>
    </div>
    <div class="about-row">
      <div class="about-text">
        <div class="about-title">Around the area</div>
        <hr />
        <div class="about-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
          ullamcorper hendrerit mauris vitae interdum.<span
            style="font-weight:600;"
          >
            Pellentesque habitant morbi tristique senectus et netus et malesuada
            fames ac turpis egestas.</span
          >
          Nunc condimentum tellus in nibh convallis, at sagittis velit rhoncus. Aliquam
          ornare neque sit amet leo ultrices placerat. Vestibulum non varius ex,
          id sagittis metus.
          <span style="font-weight:600;">
            Donec commodo ligula mollis aliquam dapibus. Etiam tempus et erat
            vitae porta.
          </span>
          Ut eu enim bibendum, efficitur purus et, bibendum dolor. Nullam eu sem
          non magna ornare aliquam. Cras ultricies urna eu scelerisque dignissim.
          Integer congue nulla quis ullamcorper aliquam. Donec condimentum gravida.
        </div>
      </div>
      <div class="about-image">
        <img src="img/img1.jpg" />
      </div>
    </div>
  </div>
</MainLayout>
