---
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout tittle="Pelayanan">
  <div class="offer-cards-container">
    <div class="offer-cards">
      <div class="offer-card">
        <div class="offer-image">
          <img src="img/offer1.jpg" />
        </div>
        <div class="offer-text">
          <div class="offer-title">Beckford</div>
          <div class="offer-description">
            <ul>
              <li>2 bedrooms</li>
              <li>2 bathrooms</li>
              <li>Parking Space</li>
              <li>2 bedrooms</li>
              <li>2 bathrooms</li>
              <li>Parking Space</li>
            </ul>
          </div>
          <div class="offer-available">
            <div class="offer-available-text">Still available!</div>
          </div>
        </div>
      </div>
      <div class="offer-card">
        <div class="offer-image">
          <img src="img/offer2.jpg" />
        </div>
        <div class="offer-text">
          <div class="offer-title">Stratford</div>
          <div class="offer-description">
            <ul>
              <li>2 bedrooms</li>
              <li>2 bathrooms</li>
              <li>Parking Space</li>
              <li>2 bedrooms</li>
              <li>2 bathrooms</li>
              <li>Parking Space</li>
            </ul>
          </div>
          <div class="offer-available">
            <div class="offer-available-text">Still available!</div>
          </div>
        </div>
      </div>
      <div class="offer-card">
        <div class="offer-image">
          <img src="img/offer3.jpg" />
        </div>
        <div class="offer-text">
          <div class="offer-title">Westford</div>
          <div class="offer-description">
            <ul>
              <li>2 bedrooms</li>
              <li>2 bathrooms</li>
              <li>Parking Space</li>
              <li>2 bedrooms</li>
              <li>2 bathrooms</li>
              <li>Parking Space</li>
            </ul>
          </div>
          <div class="offer-available">
            <div class="offer-available-text">Still available!</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</MainLayout>
