---
---

<div class="info">
  <div class="mission">
    <h3>Call us</h3>
    <br />
    Radiator Santoso<br />
    Jl. Raya Ponorogo Solo <br />
    Timur Pombensin Badegan <br />
    tel. 087777777 <br />
    <hr />
    <br />
    <div class="social media">
      <!-- Grid row-->
      <div class="row-social">
        <!-- Grid column -->
        <div class="col-md-12">
          <div class="mb-5 flex-center">
            <!-- Facebook -->
            <a href="facebook.com/" class="fb-ic">
              <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x">
              </i>
            </a>
            <!-- Twitter -->
            <a href="#" class="tw-ic">
              <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x">
              </i>
            </a>
            <!-- Google +-->
            <a href="#" class="gplus-ic">
              <i
                class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"
              >
              </i>
            </a>
            <!--Linkedin -->
            <a href="#" class="li-ic">
              <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x">
              </i>
            </a>
            <!--Instagram-->
            <a href="#" class="ins-ic">
              <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x">
              </i>
            </a>
            <!--Pinterest-->
            <a href="#" class="pin-ic">
              <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
            </a>
          </div>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row-->
    </div>
    <!-- Footer Elements -->
  </div>
</div>
