---
---

<div class="stickynav" data-aos-duration="2000">
  <input type="checkbox" class="menu-toggle" id="menu-toggle" />
  <div class="mobile-bar">
    <label for="menu-toggle" class="menu-icon">
      <span></span>
    </label>
  </div>
  <header class="header">
    <nav>
      <li><a href="/">Home</a></li>
      <li><a href="/jasa">Jasa Service</a></li>
      <li><a href="/pelayanan">Pelayanan</a></li>
      <li><a href="/gallery">Gallery</a></li>
     
    </nav>
  </header>
  <a class="navbar-brand" href="/" style="padding:0px;">
    <img src="../img/logo1.png" />
  </a>
</div>
